**Data Types and Structures Questions**


---

1.  What are data structures, and why are they important?
-->Data structures are ways of organizing and storing data so it can be         accessed and modified efficiently. They are important because they:
     .Improve performance.
     .Provide efficient data management.

2. Explain the difference between mutable and immutable data types with examples.
--> **Mutable data types**:- These are the data type which can be changed after     creation. e.g: list,set, dictionary
     Immutable data typesthese are the data type which cannot can once created. e.g: float ,tuple,int , float

3. What are the main differences between lists and tuples in Python.
--> . lists are mutable whereas tuples are immutable.
   . lists are slight slow whereas tuples are faster.

4. Describe how dictionaries store data.
--> Dictionaries store data as key-value pairs.

5. Why might you use a set instead of a list in Python.
--> Because:
     .To have unique elements.
     . Membership check is faster.

6. What is a string in Python, and how is it different from a list.
--> String are immutable sequence of    characters.whereas lists are mutable sequence of elements.

7. How do tuples ensure data integrity in Python.
--> Tuples are immutable, meaning their contents can't be altered. This:
     . Prevents accidental changes.
     . Makes them safer for storing constant data

8. What is a hash table, and how does it relate to dictionaries in Python.
--> A hash table maps keys to values using a hash function.
Dictionaries in Python are implemented using hash tables.

9. Can lists contain different data types in Python.
--> Yes, lists can contain different data types in pthon.

10. Explain why strings are immutable in Python.
--> Strings are immutable in Python to ensure performance , allow hashability for use in dictionaries and sets.
11. What advantages do dictionaries offer over lists for certain tasks.

-->Dictionaries offer these advantages over lists:

. No need to track index positions
. Better for sparse or dynamic data
. Easier to update or modify specific items.

12. Describe a scenario where using a tuple would be preferable over a list.
--> where we don't want to change data,we prefer tuple over list.

13. How do sets handle duplicate values in Python.
-->Sets automatically removes duplicate values in python.

14. How does the “in” keyword work differently for lists and dictionaries.
-->  .In lists: in checks for a value
     .  In dictionaries: in checks for a key
15. Can you modify the elements of a tuple? Explain why or why not.
--> No. tuples are immutable.Once created can not be changed.

16. What is a nested dictionary, and give an example of its use case.
--> Nested dictionary is a dictionary inside a dictionary.
    Example:-
students = {
  "John": {"age": 20, "major": "Math"},
  "Jane": {"age": 22, "major": "CS"}
}

17. Describe the time complexity of accessing elements in a dictionary.
--> Average-case: O(1) (constant time)

     Worst-case: O(n) (rare, due to hash collisions)

18. In what situations are lists preferred over dictionaries.
--> when you are dealing with sequences or collections of items without keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
--> Dictionaries preserve insertion order, but they're still considered unordered in concept because:

.Retrieval is based on keys, not position.
.You don,t access items by index.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
--> Access Method:
.List: Access elements using an index (e.g., my_list[0]).
.Dictionary: Access elements using a    key (e.g., my_dict["name"])

   .List: Can have duplicate values.
   .Dictionary: Keys must be unique, but values can be duplicated.

**Practical Questions**

---

1. Write a code to create a string with your name and print it.

In [ ]:
name="Fazal Mohammad"
print(name)

Fazal Mohammad

2. Write a code to find the length of the string "Hello World".

In [ ]:
a= "Hello World"
print(len(a))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
a="Python Programming"
print(a[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
a="hello"
print(a.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
b="I like apple."
print(b.replace("apple","orange"))

I like orange.

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list=['a', 'b', 'c', 'd']
print(list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list=[10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
a=(100,200,300)
print(a)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t=('red', 'green', 'blue', 'yellow')
print(t[1:])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t=(10, 20, 5, 15)
print(min(t))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t= ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits=("Apple","Mango","Grapes","Kiwi")
print("Kiwi" in  fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a', 'b', 'c' }
print(s)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s={1,2,3,4,5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a={1,2,3}
b={2,3,4}
print(a&b)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dic={"name":"Fazal Mohmmad",
     "age":26,
     "city":"Banda"}
print(dic)

{'name': 'Fazal Mohmmad', 'age': 26, 'city': 'Banda'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dic={'name': 'John', 'age': 25}
dic["country"]="USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dic={'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dic={'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lis=[1,2,3,4,5]
tup={1,2,3,4,5}
dic={'name': 'Alice', 'city': 'Paris'}
print(lis,type(lis))
print(tup,type(tup))
print(dic,type(dic))

[1, 2, 3, 4, 5] <class 'list'>
{1, 2, 3, 4, 5} <class 'set'>
{'name': 'Alice', 'city': 'Paris'} <class 'dict'>

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
a=[2,56,78,45,67]
a.sort()
print(a)

[2, 45, 56, 67, 78]

28.  Write a code to create a list with strings and print the element at the third index.

In [ ]:
lis=["Apple","grapes","Orange","Kiwi"]
lis.insert(2,"Pineapple")
print(lis)

['Apple', 'grapes', 'Pineapple', 'Orange', 'Kiwi']

29. Write a code to combine two dictionaries into one and print the result

In [ ]:
dic1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic2={'name': 'Alice', 'city': 'Paris'}

print(dic1|dic2)

{'name': 'Alice', 'age': 22, 'city': 'Paris'}

30.  Write a code to convert a list of strings into a set.

In [ ]:
lis=["Apple","Banana","Grapes","Kiwi"]
s=set(lis)
print(s,type(s))

{'Grapes', 'Apple', 'Kiwi', 'Banana'} <class 'set'>